@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Oxygen:wght@300;400;700&display=swap");

/* Indigo Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #3949ab;
  --primary-hover: #3f51b5;
  --primary-focus: rgba(57, 73, 171, 0.125);
  --primary-inverse: #efe;
}

/* Indigo Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #3949ab;
    --primary-hover: #3f51b5;
    --primary-focus: rgba(57, 73, 171, 0.25);
    --primary-inverse: #efe;
  }
}

/* Indigo Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #3949ab;
  --primary-hover: #3f51b5;
  --primary-focus: rgba(57, 73, 171, 0.25);
  --primary-inverse: #efe;
}

[data-theme="dark"] .nav-logo {
  filter: invert(1) contrast(0%) brightness(200%);
}

/* Indigo (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

:root {
  --font-family: "Oxygen", sans-serif;
  --border-radius: 0;
  --form-element-spacing-vertical: 1rem;
  --form-element-spacing-horizontal: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: "Oswald", sans-serif;
  --font-weight: 400;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
a[role="button"] {
  border-radius: 1rem;
  --font-weight: 200;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

html {
  background-color: linear-gradient(#3949ab, #3f51b555);
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
