/* Indigo Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #3949ab;
  --primary-hover: #3f51b5;
  --primary-focus: rgba(57, 73, 171, 0.125);
  --primary-inverse: #ccc;
}

/* Indigo Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #3949ab;
    --primary-hover: #3f51b5;
    --primary-focus: rgba(57, 73, 171, 0.25);
    --primary-inverse: #ccc;
  }
}

/* Indigo Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #3949ab;
  --primary-hover: #3f51b5;
  --primary-focus: rgba(57, 73, 171, 0.25);
  --primary-inverse: #ccc;
}

[data-theme="dark"] .nav-logo {
  filter: invert(1) contrast(0%) brightness(200%);
}

/* Indigo (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

article {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

article footer {
  font-size: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

header.jumbotron {
  overflow: hidden;
  background-image: linear-gradient(#3949ab, #3f51b555),
    url("/assets/images/night-sky-g17765073d_1920.jpg");

  background-position: center;
  background-size: cover;
}
